.fillDetails {
  text-align: center;
  width: 50%;
  /* margin: 12% 10%; */
  margin: 5% auto;
  /* border: 1px dashed slateblue; */
  border-radius: 1em;
  padding: 2vw 3vw;
}

#carousel {
  width: 25vw;
  height: 20vw;
  border: 0.5vw solid blue;
  margin: 1vw auto;
  border-radius: 1.8em;
  transition: all 0.2s;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  border-radius: 1.8em;
  cursor: pointer;
  padding: 1vw;
  width: 12em;
  height: 12em;
  border: 1em solid rgb(0, 0, 0);
  margin: 1em;
  transition: all 0.4s;
  background-color: aliceblue;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  border: 3em solid red;
}

#textbox {
  width: 90%;
  height: 20vw;
  border: 1vw solid maroon;
}

#btnRegister,
#btnLogin,
#tvEmail,
#tvPassword {
  transition: all 0.5s;
}

#btnRegister:hover,
#btnLogin:hover {
  transform: scale(1.1);
}