#feedRoot {
    margin: 1vw;
    justify-content: center;
    padding: 1%;
    background-color: rgba(24, 24, 24, 0.5);
    border-radius: 0.5vw;
}

#issues {
    background-color: whitesmoke;
    border-radius: 0.5vw;
    padding: 2vw;
    transition: all 0.4s;
}

#issues:hover {
    background-color: aquamarine;
    transform: scale(1.01);
}

#myFeed {
    color: bisque;
    background-color: rgba(17, 17, 17, 0.562);
    text-align: center;
    box-shadow: 0.5vw 0.5vw 1vw rgb(5, 5, 5);
}

#panelMain {
    display: flex;
    width: 100%;
    overflow: hidden;
}
#panel {
    flex: 25%;
}

.panel-title {
    color:greenyellow;
    font-size: 2vw;
    text-align: center;
}