#feedRoot {
    margin: 1vw;
    justify-content: center;
    padding: 1%;
    background-color: rgba(24, 24, 24, 0.5);
    border-radius: 0.5vw;
}

#issues {
    background-color: whitesmoke;
    border-radius: 0.5vw;
    padding: 2vw;
    transition: all 0.4s;
}

#issues:hover {
    background-color: aquamarine;
    transform: scale(1.01);
}