#issuesContainer,
#usersContainer,
#freelanContainer,
#orgContainer {
    margin: 1vw;
    justify-content: center;
    padding: 1%;
    background-color: rgba(24, 24, 24, 0.5);
    border-radius: 0.5vw;
}

#element {
    background-color: whitesmoke;
    border-radius: 0.5vw;
    padding: 1vw;
    margin-bottom: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
    transition: all 0.4s;
}

#element:hover {
    background-color: lightgreen;
    transform: scale(1.008);
}

#containerTitle {
    color: yellow;
}

#adminTabs {
    margin: 1.5vw;
}

#btnLog {
    margin: 1vw;
}