#headerPanel {
    color: greenyellow;
    background-color: rgba(17, 17, 17, 0.562);
    border-radius: 0.5vw;
    padding: 1vw;
    justify-content: center;
    margin: 1vw;
    box-shadow: 0.5vw 0.5vw 1vw rgb(5, 5, 5);
}