.formlogin  {
    background-color: rgba(17, 17, 17, 0.562);
    text-align: center;
    color: rgb(255, 141, 96);
    width: 30vw;
    /* margin: 12% 10%; */
    margin: 5% auto;
    /* border: 1px dashed slateblue; */
    border-radius: 0.5vw;
    padding: 2vw 3vw;
    box-shadow: 0.5vw 0.5vw 1vw rgb(5, 5, 5);
}

#btnRegister,
#btnLogin,
#tvEmail,
#tvPassword {
    transition: all 0.5s;
}

#btnRegister:hover,
#btnLogin:hover {
    transform: scale(1.1);
}

#tvEmail:focus,
#tvPassword:focus {
    /* transform: scale(1.05); */
    transform: scale(1.05, 1.25);
    border: 0.2vw solid rgb(228, 49, 49);
}